.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eee;
}

.todoTitle {
  font-weight: bold !important;
  font-size: 3rem !important;
}

.toggleBtn {
  text-transform: capitalize !important;
  padding: 10px 20px !important;
}

@media (max-width: 768px) {
  .parent div {
    width: calc(50% - 10px);
  }
}

.iconButton {
  /* margin: 5px !important; */
  transition: all .3s !important;
}

.iconButton:hover {
  /* background-color: #ddd !important; */
  box-shadow: 0 7px 7px rgba(0, 0, 0, .4);
}

.todoCard {
  background: #eee !important;
  color: #fff;
  margin: 20px 0;
  transition: all .3s !important;
}

.todoCard:hover {
  padding: 2px 0;
  /* border: 2px solid purple; */
  box-shadow: 0 7px 7px rgba(0, 0, 0, .4);
}

/* Custom Fonts */

@font-face {
  font-family: cairo;
  /* relative path */
  /* src: url(../public/fonts/Cairo-Bold.ttf);  */

  /* absolute path */
  src: url(/public/fonts/Cairo-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: cairo;
  src: url(/public/fonts/Cairo-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: cairo;
  src: url(/public/fonts/Cairo-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: cairo;
  src: url(/public/fonts/Cairo-Bold.ttf);
  font-weight: bold;
}

/* Custom Fonts */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

/* Small Screens */
@media (max-width: 565px) {
  .card {
    flex-direction: column;
    gap: 5px;
  }

  .todoTitle {
    font-size: 50px !important;
  }

  .toggleBtn {
    font-size: 15px !important;
  }
}